# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# bin folder
bin

# simulation output folder
sim_results

# eclipse's files
.settings
.classpath
.project

# IntelliJ project files
.idea
*.iml
out
gen
